.chart-series-line{
    -fx-stroke-width : 2px;
}
.default-color0.chart-series-line{-fx-stroke: red;}
.default-color1.chart-series-line{-fx-stroke: yellow;}
.default-color2.chart-series-line{-fx-stroke: orange;}
.default-color3.chart-series-line{-fx-stroke: blue;}
.default-color4.chart-series-line{-fx-stroke: green;}
.default-color5.chart-series-line{-fx-stroke: black;}

.default-color0.chart-line-symbol{-fx-background-color: red, #ffffff;}
.default-color1.chart-line-symbol{-fx-background-color: yellow, #ffffff;}
.default-color2.chart-line-symbol{-fx-background-color: orange, #ffffff;}
.default-color3.chart-line-symbol{-fx-background-color: blue, #ffffff;}
.default-color4.chart-line-symbol{-fx-background-color: green, #ffffff;}
.default-color5.chart-line-symbol{-fx-background-color: black, #ffffff;}